* {
  margin: 0;
  padding: 0;
  text-decoration: none;
 
}
.container {
  display: flex;
  background-color: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: -10px;  
 
}

main {
  width: 100%;
  padding: 20px;
  
  /* border: 1px solid black; */

}
.sidebar {
  background: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  height: 100vh;
  transition: all 0.5s;
  /* border: 1px solid black; */
  line-height: 23px;
  

}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 0px 15px;
}

/* .logo {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 30px;
} */
.logoimg{
       width: 150px;
       height: 65px;
       /* border: 1px solid black; */
}
.logoimg img{
  width: 150px;
  height: 65px;
}
.bars {
  width: 30px;
  height: 30px;
  font-size: 25px;
  /* border: 1px solid black; */
}
.link {
  display: flex;
  color: black;
  padding: 15px 12px;
  gap: 15px;
  transition: all 0.5s;
  /* border: 1px solid black; */
}

.link:hover {
  background: white;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: white;
  color: #000;
}
.icon,
.link_text {
  font-size: 15.5px;
  font-family: Consolas, monaco, monospace;
}
