.Container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.435);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.box {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 250px;
}
.one {
  width: 550px;
  height: 100px;
  background-color: whitesmoke;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: rgba(2, 30, 82, 0.1) 0px 4px 12px;
  cursor: pointer;
}
#add1 {
  margin-left: -10px;
  font-size: 50px;
  padding: 25px;
  color: orange;
  margin-right: 20px;
  background-color: rgb(241, 15, 147);
  box-shadow: rgba(2, 30, 82, 0.1) 0px 4px 12px;
}
#view1 {
  margin-left: -10px;
  font-size: 50px;
  padding: 25px;
  color: orange;
  margin-right: 20px;
  background-color: rgb(15, 237, 241);
  box-shadow: rgba(2, 30, 82, 0.1) 0px 4px 12px;
}
.two {
  width: 250px;
  padding-right: 10px;
  height: 100px;
  background-color: whitesmoke;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: rgba(2, 30, 82, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.one h2 {
  font-size: 20px;
  color: black;
}
.two h2 {
  font-size: 20px;
  color: black;
}

label {
  display: inline-block;
  width: 15%;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  display: inline-block;
  width: 75%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  color: black;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  display: block;
  width: 170px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

div[name="qualification"] {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

label input[type="radio"]::after {
  content: " ";
}

input[type="radio"]:checked + label {
  color: #007bff;
}
